@{
    ViewBag.Title = "À propos de nous";
}
<h2>Plateforme d'échange de l'ÉTS</h2>
<h3>@ViewBag.Title.</h3>

<div style="padding-top: 10px">
    <p>
        Nous sommes un organisme à but non lucratif qui milite pour un environnement sain.
        Cette plateforme a pour but d'encourager les échanges de livres scolaires usagés entre les étudiants.
    </p> 
    
    <p>
        Les échanges de livres scolaires usagés permettront de diminuer le coût d’achat de 
        manuels scolaires pour les étudiants et de manière indirecte, permettront de diminuer 
        l’empreinte écologique des étudiants sur l’environnement en réutilisant des articles de 
        seconde main. Nous voulons créer un cycle de réutilisation qui fera en sorte qu’un livre 
        sera utilisé pendant le plus de sessions possible et par le plus d’étudiants possible avant 
        d’être retiré de la circulation pour la récupération. Si l’achat de nouveaux livres diminue 
        dans une grande mesure, l’abatage de nouveaux arbres aussi diminuera. Ainsi le processus 
        de pollution et de destruction de l’environnement chutera.
    </p>
</div>

