@{
    ViewBag.Title = "Contact";
}
<h2>Plateforme d'échange de l'ÉTS</h2>
<h3>@ViewBag.Title.</h3>

<address>
    <strong>École de technologie supérieure</strong>
        <p>
            1100, rue Notre-Dame Ouest<br />
            Montréal (Québec) H3C 1K3<br />
            <abbr title="Téléphone">Tél.:</abbr>
            514 396-8800
        </p>
</address>

<address>
    <div>
        <strong>Responsable du site:</strong> <span>Claude Bien-aimé </span><br />
        <strong>Courriel:</strong> <a href="mailto:claude.bien-aime.1@ens.etsmtl.ca">claude.bien-aime.1@ens.etsmtl.ca</a><br />
    </div>
    <div style="padding-top: 10px">
        <strong>Sous la supervision du professeur:</strong> <span>Christopher Fuhrman</span><br />
        <strong>Courriel:</strong> <a href="mailto:christopher.fuhrman@etsmtl.ca">christopher.fuhrman@etsmtl.ca</a>
    </div>
</address>