<style type="text/css">
        h2 {
            margin: 0;
            color: #666;
            padding-top: 90px;
            font-size: 52px;
            font-family: "trebuchet ms", sans-serif;
        }

        .item {
            background: orange;
            text-align: center;
            height: 250px !important;
        }

        .carousel {
            margin-top: 20px;
        }

    </style>

<div>

    <div id="myCarousel" class="carousel slide" data-interval="5000" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item" style="padding-top: 50px; color: red">
                <h3>Encouragez-nous!</h3>
                <h4>Nous sommes un organisme à but non lucratif qui milite pur un environnement sain.</h4>
                <h4>Veuillez nous contacter pour afficher votre publicité ici.</h4>
            </div>

            <div class="item">
                <div class="col-md-4" style="padding-top: 100px; color: red;padding-left: 150px"><h4>Livre à donner!</h4></div>
                <div class="col-md-4"><img src="/Images/phy332.jpg" style="height: 250px; width: 250px" alt="4" class="img-responsive center-block" /></div> 
                <div class="col-md-4" style="padding-top: 100px; color: red;padding-right: 150px"><h4>Dépechez vous!</h4></div>
            </div>
            <div class="item">
                <div class="col-md-4" style="padding-top: 100px; color: red;padding-left: 150px"><h4>Livre à donner!</h4></div>
                <div class="col-md-4"> <img src="/Images/ing150-2.jpg" style="height: 250px; width: 250px" alt="2" class="img-responsive center-block" /></div>
                <div class="col-md-4" style="padding-top: 100px; color: red;padding-right: 150px"><h4>Dépechez vous!</h4></div>
            </div>
            <div class="item">
                <div class="col-md-4" style="padding-top: 100px; color: red;padding-left: 150px"><h4>Livre à donner!</h4></div>
                <div class="col-md-4"> <img src="/Images/livre1.jpg" alt="3" style="height: 250px; width: 250px" class="img-responsive center-block" /></div>
                <div class="col-md-4" style="padding-top: 100px; color: red;padding-right: 150px"><h4>Dépechez vous!</h4></div>
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

</div>