@{
    ViewBag.Title = "À propos de nous";
}
<h2>Plateforme d'échange de l'ÉTS</h2>
<h3>@ViewBag.Title.</h3>

<div style="padding-top: 10px">
    <p>Nous sommes un organisme à but non lucratif qui milite pur un environnement sain.</p>
    <p>Cette plateforme a pour but d'encourager les échanges de livres scolaires usagés entre les étudiants.</p> 
</div>

